python-docx
google-generativeai 
streamlit
pinecone-client
numpy
pandas
PyPDF2
streamlit
llama_index
llama-index-core
llama-index-vector-stores-pinecone
llama-index-embeddings-huggingface
llama_index-embeddings-gemini
llama-index-llms-gemini
llama-index-readers-web
